body {
    font-family: 'Poppin', sans-serif; /* Apply Oswald font */
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, li {
    font-family: 'Poppin', sans-serif; /* Apply to headers, paragraphs, and list items */
}
.section-button {
    background-color: black; /* Black background */
    color: white;           /* White text */
    padding: 15px 30px;     /* Padding */
    border: none;
    border-radius: 5px;     /* Rounded corners */
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppin', sans-serif; /* Apply Oswald to buttons */
    
}

.section-button:hover {
    background-color: #444; /* Slightly darker shade for hover */
    color: white;           /* Keep text white on hover */
}
h1 {
    font-weight: 700; /* Boldest for main headings */
}

h2 {
    font-weight: 500; /* Medium for subheadings */
}

p, li {
    font-weight: 400; /* Regular for body text */
}
/* Container for logos */
.logo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 logos per row */
    gap: 3px 3px; /* 5px gap between rows, 10px gap between columns */
    justify-items: center; /* Center logos horizontally */
}

/* Style for each logo */
.logo {
    max-width: 190px; /* Larger logo size */
    height: auto;
}

/* Optional: Make sure the logos don't overlap or stretch */
.logo-container a {
    display: block;
    width: 100%;
    text-align: center;
}



